.headerFA{
    height: 125px;
    background-color: #4671A2;
 }
.logoFA{
    margin-top: 20px;
}
.backgroudFA{ 

    height:530px;
    background-image: url('./images/Background.png');
}
.formloginFA{
   display: block;

    	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
    height: 200px;
    width: 250px;
    border: 1px solid #6DCFF6;
    border-radius: 10px;
}

.btnFA {

margin-left: 36%;

    color: #FFFAFA !important;
    padding: 5px 15px;
    border-radius: 5px;
    border: 0px solid #3866A3;
    background: #4671A2;
 
  }
  .btnFA:hover {
    
    color: #FFFAFA !important;
    background:#6DCFF6;
  }
  .inputFA:focus{outline: 0;}

  .inputFA{
      margin-left: 12.5%;
      /* margin-right: auto; */

    margin-bottom: 10%;
    border: 1px solid  #6DCFF6;
    border-radius: 3px;
    padding: 8px;
       
}  
.inputFA::placeholder{
   padding: 5px;
   color: #d1cece;
   font-style: italic;
       
}  
/* .AddTable{
margin-top: 1%;

} */
.transition{
    background-color: #CCEEFC ;
    height: 600px;
}
.ListFA{
    color: #4671A2;
    margin: 8px;
    border: 1px solid #3866A3;
    width: 20%;
    height: 15%;
    border-radius: 10px;
    background-color: #6DCFF6;
  /* //  box-shadow: 10px 5px 10px #3866A3; */

 

}
.inputFATable{
    padding: 1%;
    border: 1px solid  #6DCFF6;
    border-radius: 3px;
    margin-top: 20px;
}
.inputFATable:focus{
    outline: 0;
}
.inputFATable::placeholder{
    padding: 5px;
    color: #d1cece;
    font-style: italic;
        
}
.btnFATable{
    color: #FFFAFA !important;
    border-radius: 5px;
    border: 0px solid #3866A3;
    background: #4671A2;
}
.btnFATable:hover {
    
    color: #FFFAFA !important;
    background:#6DCFF6;
  }
  .centerList{
      display:flex;
      flex-flow: wrap;
     justify-content: center;
    
  }

 

.selectFA{
    padding: 1%;
    border: 1px solid  #6DCFF6;
    border-radius: 3px;
    margin-top: 20px;
}

  .selectFA:focus{
    outline: 0;
  }


  .selectFA::after {
    content: "";
    width: 8em;
    height: 0.5em;
    background-color: var(--select-arrow);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  }

.ListDailyFA{
  display: flex;
}
/* .centerDailyList{
  display: flex;
} */
.dailyFlexFa{
  display: flex;
}
.h3DailyTX{
padding: 1%;
  color: white;
  display: inline-block;
  width: 90%;
  margin-left: 5%;
  border: 1px solid  white;
  border-top: #4671A2;
  border-left: #4671A2;

  border-right: #4671A2;


}
.bodyDailyTxFA{
  height: 30rem;
  width: 100%;
  background-image:url('./images/Screenshot\ from\ 2021-08-15\ 12-41-48.png') ;
  background-repeat: no-repeat;
}